table {
  border-collapse: collapse;
  width: 100%;
  display: inline-block;
  margin: 0;
  text-align: center;
}

thead {
  border: 0;
}

thead > tr > th {
  color: #6b778c;
  font-size: 11px;
  padding: 8px 8px;
  min-width: 40px;
  box-sizing: border-box;
  border: 0;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
}

tbody > tr > td:first-child,
th:first-child {
  padding-left: 0;
}

tbody > tr > td {
  border: 0;
  padding: 0;
  text-align: center;
}

tbody > tr > td > div {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
  color: #6b778c;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 9px;
  position: relative;
  text-align: center;
}

div.monthDisplay {
  font-weight: bold;
  color: #172b4d;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.monthDisplay > span {
  display: inline-block;
  margin: 0 10px;
  width: 140px;
  text-align: center;
}

.week {
  width: 100%;
}
