.main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.input-row {
  display: flex;
}

.picker.visible {
  display: block;
}
.picker.hidden {
  display: none;
}

#day,
#month {
  width: 2rem;
}

#year {
  width: 4rem;
}
